E:\Програмування\Logos2021\ДЗ\JS -Pre-Advanced\JS-Pre-Advanced -1\JS-Pre-Advanced -1-1\css\base
E:\Програмування\Logos2021\ДЗ\JS -Pre-Advanced\JS-Pre-Advanced -1\JS-Pre-Advanced -1-1\css\Dreamshare_desktop.css.map
E:\Програмування\Logos2021\ДЗ\JS -Pre-Advanced\JS-Pre-Advanced -1\JS-Pre-Advanced -1-1\css\Dreamshare_desktop.scss
E:\Програмування\Logos2021\ДЗ\JS -Pre-Advanced\JS-Pre-Advanced -1\JS-Pre-Advanced -1-1\css\main.css.map
E:\Програмування\Logos2021\ДЗ\JS -Pre-Advanced\JS-Pre-Advanced -1\JS-Pre-Advanced -1-1\css\main.scss
E:\Програмування\Logos2021\ДЗ\JS -Pre-Advanced\JS-Pre-Advanced -1\JS-Pre-Advanced -1-1\css\tabletPortrait.css.map
E:\Програмування\Logos2021\ДЗ\JS -Pre-Advanced\JS-Pre-Advanced -1\JS-Pre-Advanced -1-1\css\tabletPortrait.scss